* {
    box-sizing: border-box;
    font-family: 'montserrat';
    transition: .3s all ease-in;

}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .angka {
    position: absolute;
    color: #fff;
    background-color: rgb(224, 128, 2);
    /* padding: 1px; */
    width: 15px;
    height: 15px;
    top: 31px;
    /* left: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    right: 16%;
    border-radius: 50%;
    display: none;
}
nav.black .angka {
    top: 22px;
    right: 12.25%;
}
nav .angka.active {
    display: block;
}
nav .logo {
    float: left;
}
nav .nav_link img {
    height: 60px;
}
nav .kanan {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li .nav_link {
    line-height: 80px;
    color: #0c0c0c;
    font-weight: 600;
    padding: 5px 20px;
    display: inline;
    text-decoration: none !important;
    text-transform: uppercase;
}
nav ul li .home.active,
nav ul li .destination:hover,
nav ul li .testi:hover,
nav ul li .wishlist:hover,
nav ul li .home:hover
{
    color: #fff !important;
    background-color: #92BDFF;
}
nav.black {
    background: rgba(20, 25, 53, 0.99);
    color: #fff;
    height: 80px;
    padding: 10px 50px;
}
nav.black .nav_link,
nav.black a {
    color: #fff;
}
nav.black a:hover {
    color: #fff !important;
    background-color: #92BDFF;
}
nav .notif .notif_isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-50%, -5%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    font-size: .9em;
    padding: auto;
    box-sizing: border-box;
    width: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0, .5);
    opacity: 0; 
    visibility: hidden;
    display: none;
    
}
/* nav .notif .notif_isi.active,
nav .users .users_isi.active,
nav .desti .isi.active
 {
    display: flex;
} */
nav .users .users_isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-27%, -12%) ;
    background: rgb(250, 250, 250);
    font-size: .9em;
    width: auto;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    display: none;
}
nav .desti .isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-40%, -12%) ;
    background: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    display: none;
}
nav .user:hover ~ .users_isi,
nav .destination:hover ~ .isi,
nav .notification:hover ~ .notif_isi {
    opacity: 1;
    visibility: visible;
    display: flex;
}
nav .users_isi:hover,
nav .isi:hover,
nav .notif_isi:hover{
    opacity: 1;
    visibility: visible;
    display: flex;
}
.kanan .desti .isi::before {
    content: '';
    position: absolute;
    width: 20px;
    top: -10px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    left: 55%;
    z-index: -1;
}
.kanan .notif .notif_isi::before {
    content: '';
    position: absolute;
    width: 20px;
    top: -8px;
    z-index: -1;
    height: 20px;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
    left: 55%;
    /* transform: translate(20px); */
}
.kanan .users .users_isi::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 20px;
    top: -10px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    left: 40%;
    /* transform: translate(20px); */
}
nav .desti .isi {
    display: flex;
    justify-content: space-around;
}
nav .desti .isi span {
    margin: 10px 10px; 
}
nav .desti .isi span a{
    text-decoration: none;
    color: #262626;
    padding: 10px 15px;
}
nav .desti .isi  a:hover,
nav .notification:hover,
nav .user:hover
{
    background-color: #83a3d3;
    color: rgb(255, 255, 255);
}

nav .users .users_isi .content_isi{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
nav .users .users_isi a {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
}
nav .users .users_isi a span {
    margin-right: 10px;
}
nav .users .users_isi a:hover{
    background-color: #5e85c0;
    color: #fff;
}

nav .notif_isi  a {
    color: rgba(0,0,0, .7);
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: start;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    transition: 0s;
}
nav .notif_isi a:hover {
    background-color: #83a3d3;
    color: #fff;
}
nav .notif_isi .display {
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: blueviolet; */
}
nav .notif_isi a span{
    font-weight: 500;
    color: black;
}
nav .notif_isi a .small{
    font-weight: 400;
}

nav .notif .notif_isi ul li a,
nav .desti .isi ul li a ,
nav .users .user_isi a{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    /* margin: 10px; */
}
nav .users .user_isi a:hover,
nav .desti .isi ul li a:hover,
nav .notif .notif_isi ul li a:hover{
    color: #fff !important;
    background-color: #92BDFF;
}

/* Scroll */
nav.black .desti .isi ul li a,
nav.black .notif .isi ul li a,
nav.black .users .isi ul li a{
    /* border-bottom: 1px solid rgb(44, 44, 44); */
    color: rgba(0,0,0, .7);
}
nav.black .users .isi {
    width: 180px;
}
nav.black .desti .isi
{
    width: auto;
}
nav.black .notif .notif_isi {
    width:300px;
    transform: translate(-70%, -5%);
}
nav.black .notif .notif_isi::before {
    /* transform: translateX(25%); */
    left: 75%;
}
nav.black .users .users_isi a {
    color: black;
}
nav .users .users_isi a {
    color: black;
}
nav.black .notif .notif_isi ul,
nav.black .notif_isi li,
nav.black .notif_isi li a {
    width: 100%;
}
/* Navabar Percbann */


/* Breadcrumb */
.breadcrumb {
    width: 100%;
    height: 150px;
    top: 0;
    position: absolute;
}
.breadcrumb ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 100px;
    left: -60px;
}
.breadcrumb ul li {
    font-size: 1em;
    font-weight: 500;
}
.breadcrumb ul li a {
    color: rgb(100, 100, 100);
    font-weight: 400;
}


.tabs {
    border: 1px solid #DCEAFF;
    border-radius: 10px;
}
.tabs__sidebar {
    width: 100%;
    flex-shrink: 0;
    background: #DCEAFF;
    overflow: hidden;
}
.tabs__sidebar .img {
    background: #43488f;
    height: 150px;
    width: 100%;
}
.tabs__sidebar .text {
    position: absolute;
    color: #fff;
}
.tabs__sidebar .text h5 {
    font-size: 1.3em;
    font-weight: 600;
}
.tabs__sidebar .text span {
    font-size: .9em;
    font-weight: 500;
}
.tabs__button {
    display: block;
    outline: none;
    border: none;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    background: #DCEAFF;
}
.tabs__button:active {
    background: #292d63;
}
.tabs__button:not(:last-of-type){
    border-bottom: .5px solid #afb2d3;
}
.tabs__button--active {
    font-weight: bold;
    border-right: 2px solid #009879;
    background: #ddd;
}
.tabs__content {
    padding: 15px;
    font-size: .8em;
    display: none;
}
.tabs__content--active {
    display: block;
    width: 90%;
}
.tabs__content > :first-child {
    margin: 0;
}



.first__name,  .date{
    /* position: relative; */
    margin-top: 10px;
}
.form {
    margin-top: 30vh;
}
.form .right h5 {
    font-size: 1.3em;
    font-weight: 600;
}
.form .right .sec__contact h5, .sec__date h5{
    margin-top: 20px;
}
.form .name {
    width: 85%;
} 
.form .ml-5 {
    margin-left: auto;
}
.form .tabs__content .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} 
/* .form .name, .form .tempat__lahir {
    display: inline-block;
} */
/* input[type="name"], input[type="email"], input[type="text"], input[type="password"] {
    display: block;
}
input[type="date"] {
    position: absolute;
    bottom: 17%;
    left: 45%;
}
.form .email {
    display: inline-block;
} */
/* .form input {
    outline: none; */
    /* display: block; */
    /* border: 1px solid #9c9c9c;
    border-radius: 5px;
    padding: 0 15px;
    height: 40px;
    width: 300px;
    font-size: 15px;
} */

/* .form input:focus {
    border: 1.5px solid #1f52f9;
}
.form label {
    position: relative;
    color: #555;
    font-size: 15px;
    pointer-events: none;
    left: 20px;
    top: -30px;
    transition: .3s all;
}
input:focus ~label,
input:valid ~label{
    top: -49px;
    left: 17px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 10px;
    color: #1f52f9;
} */

.form .btn__save {
    height: 50px;
    width: 200px;
    color: #fff;
    font-weight: 600;
    background-color: #445e86;
    border: none;
    outline: none;
    border-radius: 10px;
}
.right .btn__save:hover {
    color: #fdfeff;
    background-color: #292d63;
}
/* .password.active {
    display: flex;
}
.billing.active {
    display: flex;
}
.profile.active {
    display: flex;
}
.password {
    display: none;
}
.billing {
    display: none;
} */