* {
    box-sizing: border-box !important;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    transition: all .3s;
    font-family: "Montserrat";
}
body {
    width: 100%;
}
.container {
    margin: 0 auto;
    /* background-color: slateblue; */
}


.container {
    margin: 0 auto;
    /* background-color: slateblue; */
}

/* Navabar Percbann */
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    float: left;
}
nav .nav_link img {
    height: 60px;
}
nav .kanan {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li .nav_link {
    line-height: 80px;
    color: #050505;
    font-weight: 600;
    padding: 5px 20px;
    display: inline;
    text-decoration: none !important;
    text-transform: uppercase;
}
nav ul li .home.active,
nav ul li .destination:hover,
nav ul li .testi:hover,
nav ul li .wishlist:hover,
nav ul li .home:hover
{
    color: #fff !important;
    background-color: #92BDFF;
}
nav.black {
    background: rgba(20, 25, 53, 0.99);
    color: #fff;
    height: 80px;
    padding: 10px 50px;
}
nav.black .nav_link,
nav.black a {
    color: #fff;
}
nav.black a:hover {
    color: #fff !important;
    background-color: #92BDFF;
}
nav .notif .notif_isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-50%, -5%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    font-size: .9em;
    padding: auto;
    box-sizing: border-box;
    width: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0, .5);
    opacity: 0; 
    visibility: hidden;
    display: none;
    
}
/* nav .notif .notif_isi.active,
nav .users .users_isi.active,
nav .desti .isi.active
 {
    display: flex;
} */
nav .users .users_isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-27%, -12%) ;
    background: rgb(250, 250, 250);
    font-size: .9em;
    width: auto;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    display: none;
}
nav .desti .isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-40%, -12%) ;
    background: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    display: none;
}
nav .user:hover ~ .users_isi,
nav .destination:hover ~ .isi,
nav .notification:hover ~ .notif_isi {
    opacity: 1;
    visibility: visible;
    display: flex;
}
nav .users_isi:hover,
nav .isi:hover,
nav .notif_isi:hover{
    opacity: 1;
    visibility: visible;
    display: flex;
}
.kanan .desti .isi::before {
    content: '';
    position: absolute;
    width: 20px;
    top: -10px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    left: 55%;
    z-index: -1;
}
.kanan .notif .notif_isi::before {
    content: '';
    position: absolute;
    width: 20px;
    top: -8px;
    z-index: -1;
    height: 20px;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
    left: 55%;
    /* transform: translate(20px); */
}
.kanan .users .users_isi::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 20px;
    top: -10px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    left: 40%;
    /* transform: translate(20px); */
}
nav .desti .isi {
    display: flex;
    justify-content: space-around;
}
nav .desti .isi span {
    margin: 10px 10px; 
}
nav .desti .isi span a{
    text-decoration: none;
    color: #262626;
    padding: 10px 15px;
}
nav .desti .isi  a:hover,
nav .notification:hover,
nav .user:hover
{
    background-color: #83a3d3;
    color: rgb(255, 255, 255);
}

nav .users .users_isi .content_isi{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
nav .users .users_isi a {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
}
nav .users .users_isi a span {
    margin-right: 10px;
}
nav .users .users_isi a:hover{
    background-color: #5e85c0;
    color: #fff;
}

nav .notif_isi  a {
    color: rgba(0,0,0, .7);
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: start;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    transition: 0s;
}
nav .notif_isi a:hover {
    background-color: #83a3d3;
    color: #fff;
}
nav .notif_isi .display {
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: blueviolet; */
}
nav .notif_isi a span{
    font-weight: 500;
    color: black;
}
nav .notif_isi a .small{
    font-weight: 400;
}

nav .notif .notif_isi ul li a,
nav .desti .isi ul li a ,
nav .users .user_isi a{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    /* margin: 10px; */
}
nav .users .user_isi a:hover,
nav .desti .isi ul li a:hover,
nav .notif .notif_isi ul li a:hover{
    color: #fff !important;
    background-color: #92BDFF;
}

/* Scroll */
nav.black .desti .isi ul li a,
nav.black .notif .isi ul li a,
nav.black .users .isi ul li a{
    /* border-bottom: 1px solid rgb(44, 44, 44); */
    color: rgba(0,0,0, .7);
}
nav.black .users .isi {
    width: 180px;
}
nav.black .desti .isi
{
    width: auto;
}
nav.black .notif .notif_isi {
    width:300px;
    transform: translate(-70%, -5%);
}
nav.black .notif .notif_isi::before {
    /* transform: translateX(25%); */
    left: 75%;
}
nav.black .users .users_isi a {
    color: black;
}
nav .users .users_isi a {
    color: black;
}
nav.black .notif .notif_isi ul,
nav.black .notif_isi li,
nav.black .notif_isi li a {
    width: 100%;
}
/* Navabar Percbann */


/* Breadcrumb */


.cover {
    height: 65vh;
    width: 100%;
    background-image: url('../asset/img/Yogya_jumbotron.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover h3{
    padding: 10px 15px;
    color: rgb(59, 59, 59);
    font-size: 2em;
}


/* Breadcrumb */
.sec_breadcrumb {
    width: 100%;
    margin: 0 !important;
    height: 150px !important;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
    /* position: absolute; */
    /* padding: 10px 0; */
    background-color: #ececec !important;
}
.sec_breadcrumb ul {
    text-decoration: none;
    /* margin-left: -70px; */
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 16%;
    left: 4%;
    /* margin-top: 10px; */
    width: 20%;
    /* background-color: blue; */
}
.sec_breadcrumb ul li {
    list-style: none;
}
.sec_breadcrumb .breadcrumb-item{
    font-size: 1em !important;
    font-weight: 600 !important;
    color: rgb(15, 15, 15, .8) !important;
}
.sec_breadcrumb a {
    color: rgb(110, 110, 110);
}

/* content */
.content1 {
    padding: 10px;
    /* margin-top: 50px; */
}
.display {
    background-color: #92BDFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.content1 .judul h4 {
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
}
.content1 .judul p {
    text-indent: 3em;
    font-size: 1em;
}
.content1 .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content1 label {
    font-size: 1.3em;
    font-weight: 500;
}
.content1 .review__cont {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content1 .review__cont .card {
    padding: 15px 20px;
    margin-top: 20px;
}
.content1 .review__cont .card .header{
    width: 100%;
}
.card {
    width: 90%;
}
.card .tanggal {
    width: 50%;
}
.card .review__cont .card .tanggal {
    display: flex;
    justify-content: center;
}
.card .review__cont .card .tanggal small, .card span {
    color: rgb(94, 93, 93);

}
.card blockquote {
    position: relative;
    line-height: 1.4em;
    font-style: italic;
    margin-top: 10px;
}
.card blockquote::before, blockquote::after {
    content: open-quote;
    font-size: 60px;
    color: #999;
    line-height: 0;
    position: relative;
    top: 20px;
}
.card blockquote::after{
    content: close-quote;
}

.content1 .review__cont .card .star .fa-star{
    font-size: 1em;
}
.content1 .review__cont h6 {
    font-size: 1em;
}

.footer__section {
    margin-top: -200px;
    background-color: #DCEAFF;
    /* top: 130%; */
    /* left: 0; */
    position: relative;
    margin-top: 500px;
}


/* Breadcrumb */
.breadcrumb {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
    /* position: relative; */
    /* padding: 10px 0; */
    background-color: #92BDFF !important;
}
.breadcrumb .breadcrumb-item{
    font-size: 1em !important;
    font-weight: 600 !important;
    color: rgb(15, 15, 15, .8) !important;
}
.breadcrumb a {
    color: rgb(110, 110, 110);
}
/* Chatbox */
/* Chatbox */
.btn-chat {
    position: absolute;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    bottom: 2%;
    right: 2%;
    width: 20%;
    z-index: 10000;
    position: fixed;
}
.chatbox {
    display: none;
    border: 3px solid #f1f1f1;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 1000;
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 10px;
    position: fixed;
}
.form_container {
    max-width: 400px;
    padding: 10px;
    background: white;
}
.form_container textarea{
    width: 100%;
    min-height:200px;
    border: none;
    resize: none;
    padding: 10px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    font-size: 15px;
}
.form-container textarea:focus{
    background: #ddd;
    outline: none;
  }
  .btn-send, .btn-close{
    /* padding:; */
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    opacity: 0.9;
  }
  .btn-send,.btn-close,.btn-chat:hover{
    opacity: 1;
  }
  h2{
    background: rgb(27, 140, 206);
    color:white;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

.review__cont .star .fa-star {
    font-size: 1.2em ;
    color: rgb(241, 198, 7);
}