* {
    box-sizing: border-box !important;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    transition: all .3s;
    font-family: "Montserrat";
}
.container {
    margin: 0 auto;
    /* background-color: slateblue; */
}
/* Navabar Percbann */
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    float: left;
}
nav a img {
    height: 60px;
}
nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    line-height: 80px;
    color: #262626;
    padding: 5px 20px;
    text-decoration: none !important;
    text-transform: uppercase;
}
nav ul li .home.active,
nav ul li .destination:hover,
nav ul li .testi:hover,
nav ul li .wishlist:hover,
nav ul li .home:hover
{
    color: #fff;
    background-color: #92BDFF;
}
nav.black {
    background: rgba(20, 25, 53, 0.99);
    color: #fff;
    height: 80px;
    padding: 10px 50px;
}
nav.black a {
    color: #fff;
}
nav.black a:hover {
    color: #fff !important;
    background-color: #92BDFF;
}
nav .users .isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-27%, -10%) ;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
}
nav .desti .isi {
    z-index: 1000;
    position: absolute;
    transform: translate(-40%, -10%) ;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
}
nav .desti:hover .isi {
    opacity: 1;
    visibility: visible;
}
nav .users:hover .isi {
    opacity: 1;
    visibility: visible;
}
ul .desti .isi::before {
    content: '';
    position: absolute;
    width: 20px;
    top: -10px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    left: 50%;
    /* transform: translate(20px); */
}
ul .users .isi::before {
    content: '';
    position: absolute;
    width: 20px;
    top: -10px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    left: 65px;
    /* transform: translate(20px); */
}
nav .desti .isi ul {
    display: flex;
}
nav .users .isi ul {
    display: flex;
    flex-direction: column;
}
nav .desti .isi ul li a:hover{
    color: #fff !important;
    background-color: #92BDFF;
}
nav .users .isi ul li a:hover{
    color: #fff !important;
    background-color: #92BDFF;
}
nav.black .isi ul li a{
    /* border-bottom: 1px solid rgb(44, 44, 44); */
    color: rgba(0,0,0, .7);
}
nav.black .users .isi {
    width: 180px;
}
nav.black .desti .isi {
    width: auto;
}
/* Navabar Percbann */


.breadcrumb {
    position: relative;
    width: 100%;
    height: 400px;
    /* margin-top: 100px; */
    background-color: rgb(235, 236, 238);
}
.breadcrumb ul {
    width: 27%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 100px;
    left: -60px;
}
.breadcrumb ul li {
    font-size: 1em;
    font-weight: 500;
}
.breadcrumb ul li a {
    color: rgb(100, 100, 100);
    font-weight: 400;
}
.sec__jumbotron {
    overflow: hidden;
    position: relative;
    top: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron {
    width: 86% !important;
    height: 65vh;
    position: relative;
    /* margin-top: !important; */
    background-image: url("../asset/img/dieng_backimg.jpeg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
}
.backimg:hover {
    transform: scale(1.01,1.01);
}


/* Chatbox */
.btn-chat {
    position: absolute;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    bottom: 2%;
    right: 2%;
    width: 20%;
    z-index: 10000;
    position: fixed;
}
.chatbox {
    display: none;
    border: 3px solid #f1f1f1;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 1000;
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 10px;
    position: fixed;
}
.form_container {
    max-width: 400px;
    padding: 10px;
    background: white;
}
.form_container textarea{
    width: 100%;
    min-height:200px;
    border: none;
    resize: none;
    padding: 10px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    font-size: 15px;
}
.form-container textarea:focus{
    background: #ddd;
    outline: none;
  }
  .btn-send, .btn-close{
    /* padding:; */
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    opacity: 0.9;
  }
  .btn-send,.btn-close,.btn-chat:hover{
    opacity: 1;
  }
  h2{
    background: rgb(27, 140, 206);
    color:white;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
/* .btn-chat{
    border:none;
    padding:;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 20%;
  }
  #chatbox{
    display:none;
    border: 3px solid #f1f1f1;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 9;
  }
  .form-container{
    max-width: 300px;
    padding: 10px;
    background: white;
  }
  .form-container textarea{
    width: 100%;
    min-height:200px;
    border: none;
    resize: none;
    padding: 10px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    font-size: 15px;
  }
  .form-container textarea:focus{
    background: #ddd;
    outline: none;
  }
  .btn-send, .btn-close{
    padding:;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    opacity: 0.9;
  }
  .btn-send,.btn-close,.btn-chat:hover{
    opacity: 1;
  }
  h2{
    background: blue;
    color:white;
    width: 100%;
    text-align: center;
    padding: 10px;
  } */

/* Chatbox */






.content {
    position: relative;
    top: -260px;
    
}
.content .star {
    font-size: .9em;
    color: rgb(241, 198, 7);
    margin-bottom: 20px;
}
.content .left .icon {
    font-size: 1.9em;
}
.content .left h6 {
    font-size: 1.3em;
    font-weight: 600;
}
.content .left p {
    font-size: .9em;
    font-weight: 400;
}
.content .right .round {
    background-color: #DCEAFF;
    color: #000;
    padding: 14px 20px;
    border-radius: 10px;
}
.content .right p {
    font-size: .9em;
    font-size: 400;
}
.content .right h5 {
    font-size: 1.3em;
    font-weight: 600;
}
.content .right .btn  {
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 600;
    background-color: #445e86;
}
.content .right .btn:hover {
    color: #fdfeff;
    background-color: #292d63;
}
.content .left h4 {
    font-size: 2em;
    font-weight: 600;
}

.category {
    position: relative;
    top: -220px;
}
.button__category {
     position: absolute;
     left: 12%;
    margin-top: -20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button__category a {
    padding: 5px;
    background-color: rgb(23, 170, 196);
    font-weight: 600;
    color: #fFF;
}
.about.activ, .essential.activ, .gallery.activ, .review.activ, .price.activ{
    width: 100%;
    color: #fff;
    font-weight: 600;
    background-color: #374c6b;
}
.button__category a {
    width: 100%;
    color: #fff;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #87a0c5;
}
.button__category button:hover {
    color: #fdfeff;
    background-color: #292d63;
}
.category .round__category{
    /* width: 85%; */
    height: auto;
    border-radius: 10px;
    padding: 25px 25px;
    background-color: #DCEAFF;
}
.category__list .round__category {
    padding: 25px 30px;
}
.active{
    background: #f0544f !important;
}
.about.activat, .price.activat, .essential.activat, .gallery.activat,.review.activat  {
    display: block;
}
.about, .essential, .gallery, .review, .price {
    display: none;
}
.round__category .about p{
    text-indent: 3em;
}





/* Gallery */
.gallery img {
    width: 100%;
    margin-bottom: 20px;
    filter: grayscale(50%);
}
.gallery img:hover {
    transform: scale(1.1,1.1);
    filter: grayscale(0);
    cursor: pointer;
}

/* Gallery */





/* Review */
.review__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.review .card {
    padding: 15px 20px;
    margin-top: 20px;
}
.review .card .header{
    width: 100%;
}
.review .card {
    width: 90%;
}
.review .card .star .fa-star {
    color: rgb(241, 198, 7);
}
.card .tanggal {
    width: 50%;
}
.card .card .tanggal {
    display: flex;
    justify-content: center;
}
.card .card .tanggal small, .card span {
    color: rgb(94, 93, 93);

}
.card blockquote {
    position: relative;
    line-height: 1.4em;
    font-style: italic;
    margin-top: 10px;
}
.card blockquote::before, blockquote::after {
    content: open-quote;
    font-size: 60px;
    color: #999;
    line-height: 0;
    position: relative;
    top: 20px;
}
.card blockquote::after{
    content: close-quote;
}

.review .card .star .fa-star{
    font-size: 1em;
}
.review h6 {
    font-size: 1em;
}
.review .btn {
    padding: 10px 15px;
    background-color: #445e86;
    color: #fff;
    margin-top: 20px;
}




/* Price */

.price .form select, 
.price .form input{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
}
.price .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price .form button,
.price .table button {
    padding: 10px 15px;
    background-color: #445e86;
    border-radius: 10px;
    color: #fff;
}
.price .table {
    margin-top: 20px;
}




.destination__popular {
    margin-top: -100px;
    background-color: #DCEAFF;
    width: 100%;
    height: 75vh;
    padding-top: 70px;
    text-align: center;
}
.destination__popular h3 {
    font-size: 2em;
    font-weight: 600;
}
.destination__popular .judul p {
    font-size: 1.3em;
    font-weight: 400;
}
.destination__popular hr {
    width: 50%;
    margin-bottom: 30px;
}
.destination__popular .card {
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0, .5);
    position: relative;
    cursor: pointer;
}
.destination__popular .card:hover {
    transform: translateY(-10px);
}
.destination__popular .card .badge,
.explore__section .card .badge {
    position: absolute;
    top: 32%;
    right: 0;
    color: #fff;
    width: 120px;
    /* padding:10px;margin-bottom: 10px; */
}
.destination__popular .card h5,
.explore__section .card h5 {
    font-size: 1.3em !important;
    font-weight: 600;
}
.destination__popular .card-text .star,
.explore__section .card-text .star {
    font-size: .8em;
    color: rgb(241, 198, 7);
}
.destination__popular .card-text .reviews p,
.explore__section .card-text .reviews p {
    font-size: 1em;
    font-weight: 400;
}
.destination__popular .card-text .text-right,
.explore__section .card-text .text-right {
    margin: 0;
    /* padding: 0; */
}
.destination__popular .card-text .text-right h6,
.explore__section .card-text .text-right h6{
    /* margin: 0; */
    /* padding: 0; */
    font-size: .8em;
    font-weight: 500;
}
.destination__popular .card-text .text-right h5,
.explore__section .card-text .text-right h5{
    /* margin: 0; */
    /* padding: 0; */
    font-size: .85em;
    font-weight: 500;
}
.destination__popular .card-text .text-right .mt-5, 
.explore__section .card-text .text-right .mt-5{
    margin-top: 50px;
}
.destination__popular .card-text .text-right h6, .card-text .text-right .top__p, .text-right h5
, .explore__section h6,
.explore__section .top__p, 
.explore__section h5{
    margin-top: -15px !important;
}




.footer {
    background-color: #DCEAFF;
    /* top: 130%; */
    /* left: 0; */
    position: relative;
    margin-top: 200px;
}
.footer a {
    color: rgb(34, 34, 34);
    margin-bottom: 10px;
}
.footer h5 {
    font-weight: 600;
}
.footer p {
    font-weight: 500;
}